<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendors/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Zeta Favorite Numbers</h1>

        <div ng-controller="StudentController" class="student-box">
            <button ng-click="orderName()" class="name btn btn-info">Sort Name</button>
            <button ng-click="orderLocation()" class="location btn btn-danger">Sort Location</button>
            <button ng-click="orderNumber()" class="number btn btn-warning">Sort Number</button>


            <div ng-repeat="student in classmates">
                <student-profile info="student"></student-profile>
            </div>
        </div>

    </div>
</body>
</html>